{% extends 'base.html' %}

{% block main %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">
	function toggleSibling(sibling){
		sibling = sibling.nextSibling;
		while(!/tr/i.test(sibling.nodeName)){
			sibling = sibling.nextSibling;
		}
		sibling.style.display = sibling.style.display == 'table-row' ? 'none' : 'table-row';
	}
</script>
<script>
	$(function(){
		// <a href="#" id="myID" data-type="text" data-pk="1"></a>
	    //toggle `popup` / `inline` mode
	    $.fn.editable.defaults.mode = 'popup';     
	    
	    //make username editable
	    // $('#username').editable();
	    
	    //make password editable
	    $('#password').editable({
	    	validate: function(value) {
			  if($.trim(value).length <= 2) 
			    return 'Must contain at least 3 characters';
			}
	    	});
	});
</script>
<table class="table table-hover tablesorter" id="myTable">
	<tr>
		<th>Username</th>
		<th>User Class</th>
	</tr>
	{% for u in user_files|sort(attribute='name') %}
   <tr id="a" onclick="toggleSibling(this)">
	   <td>{{ u.name }}</td>
	   <td>{{ u.userClass }}</a></td>
	</tr>
	<tr style="display:none;">
		<td colspan="3" class="fileinfo">
			{% if user_files[u]|length == 0 %}
			<ul class="fileinfo"><em>No files exist for this user.</em></ul>
			{%else%}
			{% for f in user_files[u] %}
				<ul>
				<form id="admin_files" method=post action={{ url_for('file_delete') }}>
					<input type="hidden" name="filename" value={{f.name}}>
					<input type="hidden" name="owner" value={{f.owner}}>
					<input type="hidden" name="path" value={{f.dir}}>
					<button type=send class="delete">
						<span id="admin_delete" class="glyphicon glyphicon-remove"></span>
					</button>
				</form>
				<a href={{ url_for('file_view', name=f.name) }} style="width:40%"> {{ f.name }}</a>
				({{f.size()}})
				</ul>
			{% endfor %}
			{%endif%}
		</td>
	</tr>
{% endfor %}
</table>
<h4>Total files: {{num_files}}</h4>
{% endblock main %}
