<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>

        <!-- The custom colorscheme is now baked into bootstrap -->
        <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!-- stylesheet for narrow jumbotron -->
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        <script type="text/javascript">
        <!--
        function toggle_visibility(id) {
        var e = document.getElementById(id);
        e.style.display = ((e.style.display!='none') ? 'none' : 'block');
        }
        //-->
        </script>

        <!-- Our Stylesheet -->
        <link rel="stylesheet" href="/static/site.css" />

        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                  {% if current_user.userClass == "admin" %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/admin/">View Site Info</a></li>
                      <li><a href="/change_pwd/">Change User Password</a></li>
                      <li><a href="/remove_user/">Remove User</a></li>
                    </ul>
                  </li>
                  {%endif%}
                  {% if current_user.is_active() %}
                  <li {% if request.path == "/info/" %}class="active"{% endif %}><a href={{ url_for('info') }}>Account</a></li>
                  <li><a href={{ url_for('logout') }}>Logout</a></li>
                  {%else%}
                  <li {% if request.path == "/login/" %}class="active"{% endif %}><a href={{ url_for('login') }}>Login</a></li>
                  {%endif%}
                </ul>
                <h3 class="text-muted"><a href="/" style="color:#5a5967; text-decoration:none;">OneDir</a></h3>
            </div>
          </div>
            <div class="container" id="content">
                {% block main %}{% endblock main %}
            </div>
    </body>
</html>
