{% extends 'base.html' %}

{% block main %}
<div class = "jumbotron">
{% if uname == None %}
	<h2>Please <a href={{ url_for('login') }}>login</a> to access your files</h2>
{% else %}
	<h1>Welcome, {{ uname }}</h1>
        <p class="lead">Here is a list of all your files that have been uploaded to the OneDir server. To view the contents of any file simple click on it's name below.</p>
</div>
<div>
	{% if files|length == 0 %}
		<h4>You have no files to display</h4>
	{% else %}
		<h4>Your files</h4>
		{% for file in files %}
		<ul><a href={{ url_for('file_view', name=file.name) }}>{{ file.name }}</a></ul>
		{% endfor %}
	{% endif %}
{% endif %}
</div>
{% endblock main %}
