{% extends 'base.html' %}
{% block head %}
<!-- dropzone includes -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/dropzone.min.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/css/dropzone.css" />
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/css/basic.css" /> 

{% endblock head %}

{% block main %}
<!-- Text input-->
<script type="text/javascript">
    var file_list = [];
    {% for f in files %}
    file_list.push("{{ f.name }}");
    {% endfor %}
    $(function() {
        $( "#file_search" ).autocomplete({
            source: file_list
        });
    });
</script>
<div class = "jumbotron">
    {% if uname == None %}
    <h2>Please <a href={{ url_for('login') }}>login</a> to access your files</h2>
    {% else %}
    <h1>Welcome, {{ uname }}</h1>
    <p class="lead">Here is a list of all your files that have been uploaded to the OneDir server. To view the contents of any file simply click on it's name below.</p>
    <div class="row">
        <div class="input-group">
          <input id="file_search" name="file_search" type="text" placeholder"Filename..." class="form-control">
          <span class="input-group-btn">
            <button id="jumbo-btn" class="btn" type="button">Open</button>
          </span>
        </div>
    </div>
</div>
<div>
    {% if files|length == 0 %}
    <div class="page-header" style="color:#BE2625;">
      <h1>You have no files to display <small><a href={{ url_for('log_view', user=uname)}}>(Transaction History)</a></small></h1>
    </div>
    {% else %}
      <h2 class="subtext">Your Files <small><a href={{ url_for('log_view', user=uname)}}>(Transaction History)</a></small></h2>
    {% for file in files %}
    <div align="center" class="row">
        <div class="col-md-4">
            <p style="font-size:18pt;"><a href={{ url_for('file_view', name=file.name) }}>{{ file.pathname() }}</a></p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <form method=post action={{ url_for('file_delete') }}>
                <input type="hidden" name="filename" value={{file.name}}>
                <input type="hidden" name="owner" value={{file.owner}}>
                <input type="hidden" name="path" value={{file.dir}}>
                <button type=send class="delete">
                    <span class="glyphicon glyphicon-trash" style="width:3%"></span>
                </button>
            </form>
        </div>
        <div class="col-md-1">
            <a download  href={{ url_for('file_view', name=file.name) }}>
                <span class="glyphicon glyphicon-cloud-download"></span> 
            </a> 
        </div>
    </div>
    {% endfor %}
    {% endif %}


    <h2 class="subtext">Upload New Files</h2>
    <form action="{{ url_for('file_upload', user=uname)}}" class="dropzone dz-clickable" id="demo-upload">
        <div class="dz-message centa" style="text-align:center;"><h2>Drag files here!</h2>
        <h5>(or click to upload)</h5></div>
    </form>


    {% endif %}
</div>
{% endblock main %}
