{% extends 'base.html' %}

{% block main %}
<div class = "jumbotron">
{% if uname == None %}
	<h3>Login to manage users: <a href={{ url_for('login') }}>here</a></h3>
	<h4>Please login above.</h4>
{% else %}
	<h1>Welcome, {{ uname }}</h1>
        <p class="lead">Here is a list of all your files that have been uploaded to the !PROJECT NAME! server. To view the contents of any file simple click on it's name below.</p>
</div>
<div>
	<h4>Your files</h4>
	{% for file in files %}
	   <ul><a href={{ url_for('file_view', name=file.name) }}>{{ file.name }}</a></ul>
	{% endfor %}
{% endif %}
</div>
{% endblock main %}
