{% extends 'base.html' %}

{% block main %}
<div class="container">
	<div class="row">
	    <div align="center" class="span12">
	        <form method=post action={{ url_for('login') }}>
	            <fieldset>
				    <h3>Login</h3>
				    <div class="control-group" style="padding-bottom:10px;">
				      <!-- Username -->
				      <div class="controls">
				        <input type="text" id="username" name="username" placeholder="Username" class="input-xlarge">
				      </div>
				    </div>
				    <div class="control-group" style="padding-bottom:10px;">
				      <!-- Password-->
				      <div class="controls">
				        <input type="password" id="password" name="password" placeholder="Password" class="input-xlarge">
				      </div>
				    </div>
				    <div class="control-group">
				      <!-- Button -->
				      <div class="controls">
				        <button class="btn btn-success">Login</button>
				      </div>
				    </div>
				</fieldset>
			</form>
	        {% if error %} {{ error }} {% endif %}
        </div>
	</div>
</div>
{% endblock main %}
