{% extends 'base.html' %}


{% block main %}
<h2>Logs</h2>
    <div class="row">
        <div class="col-md-2"><b>Address</b></div>
        <div class="col-md-2"><b>Path Name</b></div>
        <div class="col-md-4"><b>Timestamp</b></div>
        <div class="col-md-1"><b>Type</b></div>
        <div class="col-md-3"><b>Action</b></div>
    </div>
{% for tx in txns %}
    <div class="row">
        <div class="col-md-2">{{ tx.ip_address }}</div>
        <div class="col-md-2"><p>{{ tx.pathname }}</p></div>
        <div class="col-md-4">{{ tx.timestamp }}</div>
        <div class="col-md-1">{{ tx.type }}</div>
        <div class="col-md-3">{{ tx.action }}</div>
    </div>
{% endfor %}


{% endblock main %}
